:root {
  --color-primary: #006cbb;
  --color-primary-dark: #005aa0;
  --color-primary-soft: #eaf4ff;

  --color-white: #ffffff;
  --color-gray-50: #f5f7fa;
  --color-gray-100: #eceff3;
  --color-gray-200: #d7dce5;
  --color-gray-400: #b6beca;
  --color-gray-600: #6d7380;
  --color-black: #0c0c0d;

  --color-success: #01bd78;

  --color-error: #d40019;
}
